{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_form_inner %}
    {# Check customer is login or not and Set product condation #}
    {% if not context.customer or page.product.extensions.setProduct.active == false  or  page.product.extensions.setProduct.active == null %}
        {{ parent() }}
    {% else %}
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#customAddToCart">{{ "orderScheduler.add-cart-btn"|trans }}</button>
      	{% block addtocard_popup_product_container %}
        	{% sw_include '@Storefront/storefront/page/product-detail/add-cart-popup-product.html.twig' with {'product': page.product, 'customerAddress': context.customer.extensions.address.all}  %}
      	{% endblock %}
    {% endif %}
{% endblock %}
